{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Gerobug-signature" content="97de67b8d672c51c158247f398b85d31">

        <title>Hall Of Fame</title>
        <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
        <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
        <link rel="stylesheet" href='{% static "/css/hall.css" %}'>
        <link rel="stylesheet" href='{% static "/css/header.css" %}'>

        <!-- BOOTSTRAP CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script>
            function myFunction() {
                var x = document.getElementById("navbar");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
        <script>
            function loadLanguage(language) {
                fetch(`/static/language_pack/${language}.json`)
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector('.menu-rules').innerText = data['rules_html'].menu.rules_guidelines;
                        document.querySelector('.menu-hof').innerText = data['rules_html'].menu.hall_of_fame;
                        document.querySelector('.menu-submit').innerText = data['rules_html'].menu.submit;

                        document.querySelectorAll('[data-i18n]').forEach(element => {
                            const key = element.getAttribute('data-i18n');
                            const translation = key.split('.').reduce((obj, i) => obj?.[i], data);
                            if (translation) element.innerText = translation;
                        });
                    })
                    .catch(error => console.error('Error loading language file:', error));
            }

            function setLanguage(event) {
                const language = event.target.value;
                loadLanguage(language);
                localStorage.setItem('selectedLanguage', language);
            }

            document.addEventListener('DOMContentLoaded', () => {
                const savedLanguage = localStorage.getItem('selectedLanguage') || 'en';
                document.getElementById('language-select').value = savedLanguage;
                loadLanguage(savedLanguage);
            });
        </script>
    </head>

    <body>
    <header>
        <ul class="topnav" id="navbar">
            <li><a class="logo" href="{% url 'rules' %}">
                <div class="nav-content"><img src="{% static 'logo.png' %}"></div>
            </a></li>
            <li><a class="menu-rules" href="{% url 'rules' %}">
                <div class="nav-content">Rules & Guidelines</div>
            </a></li>
            <li><a class="menu-hof active" href="{% url 'halloffame' %}">
                <div class="nav-content">Hall Of Fame</div>
            </a></li>
            <li><a class="menu-submit" href="{% url 'submit' %}">
                <div class="nav-content">Submit</div>
            </a></li>
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
                <div class="nav-content"><i class="fa fa-bars"></i></div>
            </a></li>
            <li>
                <select id="language-select" onchange="setLanguage(event)">
                    <option value="en">English</option>
                    <option value="ru">Русский</option>
                    <option value="kz">Қазақша</option>
                </select>
            </li>
        </ul>
    </header>

    <div id="content">
        <div id="title">
            <h1 data-i18n="halloffame_html.hall_of_fame">Hall Of Fame</h1>
            <img src="{% static 'leaderboard.png' %}">
        </div>

        <form method="GET" action=".">
            <label data-i18n="halloffame_html.select_company" for="company">Select Company:</label>
            <select id="company" name="company" onchange="this.form.submit()">
                <option data-i18n="halloffame_html.all_company" value="ALL" {% if selected_company == 'ALL' %}selected{% endif %}>All Companies</option>
                {% for company in companies %}
                    <option value="{{ company.code }}"
                            {% if selected_company == company.code %}selected{% endif %}>{{ company.name }}</option>
                {% endfor %}
            </select>
        </form>

        <p data-i18n="halloffame_html.thanks_message">RTEAM thanks the following researchers for reporting valid security issues</p>

        <table id="leaderboard">
            <thead>
            <tr>
                <th data-i18n="halloffame_html.rank" style="width:20%">Rank</th>
                <th data-i18n="halloffame_html.bounty_hunter" style="width:30%">Bounty Hunter</th>
                <th data-i18n="halloffame_html.points" style="width:20%">Points</th>
            </tr>
            </thead>
        </table>

        <div id="table-scroll">
            <table id="leaderboard">
                {% for bughunter in bughunters|slice:":1000" %}
                    <tr>
                        <td style="width:20%">{{ forloop.counter }}</td>
                        <td style="width:30%">{{ bughunter.hunter_name }}</td>
                        <td style="width:20%">{{ bughunter.points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div style="display:none;">97de67b8d672c51c158247f398b85d31</div>
    </body>

    </html>
{% endblock content %}