{% extends "base.html" %}
{% load static %}
{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
        <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">
        <!-- style -->
        <link rel="stylesheet" href='{% static "/css/sidebar.css" %}'>
        <link rel="stylesheet" href='{% static "/css/owasp-calc.css" %}'>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <script>
            function loadLanguage(language) {
                fetch(`/static/language_pack/${language}.json`)
                    .then(response => response.json())
                    .then(data => {
                        document.querySelectorAll('[data-i18n]').forEach(element => {
                            const key = element.getAttribute('data-i18n');
                            const translation = key.split('.').reduce((obj, i) => obj?.[i], data);
                            if (translation) element.innerText = translation;
                        });
                        document.querySelectorAll('[data-i18n-title]').forEach(element => {
                            const key = element.getAttribute('data-i18n-title');
                            const translation = key.split('.').reduce((obj, i) => obj?.[i], data);
                            if (translation) element.title = translation;
                        });
                    })
                    .catch(error => console.error('Error loading language file:', error));
            }

            function setLanguage(event) {
                const language = event.target.value;
                loadLanguage(language);
                localStorage.setItem('selectedLanguage', language);
            }

            document.addEventListener('DOMContentLoaded', () => {
                const savedLanguage = localStorage.getItem('selectedLanguage') || 'en';
                document.getElementById('language-select').value = savedLanguage;
                loadLanguage(savedLanguage);
            });
        </script>

        <title>Settings</title>
    </head>
    {#  data-i18n=""  #}
    {#  data-i18n-title=""  #}
    <body>
    <section class="home-section">
        <header>
            <div class="home-content">
                <i class='bx bx-menu'></i>
                <span class="text">RTEAM | OWASP Risk Rating Calculator</span> <br/>
            </div>
        </header>

        <div class="container">
            <main>
                <section>
                    <canvas class="riskChart" id="riskChart" height="75"></canvas>
                    <div class="risk RS">
                        <h4></h4>
                    </div>
                </section>

                <div>
                    <b data-i18n="owasp_calculator_html.labels.vector">VECTOR (SEVERITY STRING): </b>
                    <div class="p-3 mb-3 bg-info bg-opacity-10 rounded border border-info shadow">
                        <a id="score" target="_blank">(SL:0/M:0/O:0/S:0/ED:0/EE:0/A:0/ID:0/LC:0/LI:0/LAV:0/LAC:0/FD:0/RD:0/NC:0/PV:0)</a>
                    </div>
                </div>

                <!-- FIRST -->
                <div class="row">
                    <!-- THREAT AGENT FACTORS -->
                    <section>
                        <h5 class="border-bottom" data-i18n="owasp_calculator_html.section_titles.threat_agent_factors"
                            data-i18n-title="owasp_calculator_html.section_titles.threat_agent_factors_title">Threat
                            Agent Factors</h5>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.skill_level_title"
                                 data-i18n="owasp_calculator_html.labels.skill_level">Skill level
                            </div>
                            <div class="col-8">
                                <select class="form-control" id="sl" name="sl" onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.skill_level.1">No
                                        technical skills (1)
                                    </option>
                                    <option value="3" data-i18n="owasp_calculator_html.options.skill_level.3">Some
                                        technical skills (3)
                                    </option>
                                    <option value="5" data-i18n="owasp_calculator_html.options.skill_level.5">Advanced
                                        computer user (5)
                                    </option>
                                    <option value="6" data-i18n="owasp_calculator_html.options.skill_level.6">Network
                                        and programming skills (6)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.skill_level.9">Security
                                        penetration skills (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.motive_title"
                                 data-i18n="owasp_calculator_html.labels.motive">Motive
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="m" name="m"
                                        onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.motive.1">Low or no
                                        reward (1)
                                    </option>
                                    <option value="4" data-i18n="owasp_calculator_html.options.motive.4">Possible reward
                                        (4)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.motive.9">High reward
                                        (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.opportunity_title"
                                 data-i18n="owasp_calculator_html.labels.opportunity">Opportunity
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="o" name="o"
                                        onchange="calculate()">
                                    <option value="0" data-i18n="owasp_calculator_html.options.opportunity.0">Full
                                        access or expensive resources required (0)
                                    </option>
                                    <option value="4" data-i18n="owasp_calculator_html.options.opportunity.4">Special
                                        access or resources required (4)
                                    </option>
                                    <option value="7" data-i18n="owasp_calculator_html.options.opportunity.7">Some
                                        access or resources required (7)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.opportunity.9">No access
                                        or resources required (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.size_title"
                                 data-i18n="owasp_calculator_html.labels.size">Size
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="s" name="s"
                                        onchange="calculate()">
                                    <option value="2" data-i18n="owasp_calculator_html.options.size.2">Developers,
                                        System administrators (2)
                                    </option>
                                    <option value="4" data-i18n="owasp_calculator_html.options.size.4">Intranet users
                                        (4)
                                    </option>
                                    <option value="5" data-i18n="owasp_calculator_html.options.size.5">Partners (5)
                                    </option>
                                    <option value="6" data-i18n="owasp_calculator_html.options.size.6">Authenticated
                                        users (6)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.size.9">Anonymous
                                        Internet users (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </section>

                    <!-- TECHNICAL IMPACT FACTORS -->
                    <section>
                        <h5 class="border-bottom"
                            data-i18n="owasp_calculator_html.section_titles.technical_impact_factors"
                            data-i18n-title="owasp_calculator_html.section_titles.technical_impact_factors_title">
                            Technical Impact Factors</h5>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.loss_of_confidentiality_title"
                                 data-i18n="owasp_calculator_html.labels.loss_of_confidentiality">Loss of
                                confidentiality
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="lc" name="lc"
                                        onchange="calculate()">
                                    <option value="2">Minimal non-sensitive data disclosed (2)</option>
                                    <option value="6">Minimal critical data disclosed (6)</option>
                                    <option value="6">Extensive non-sensitive data disclosed (6)</option>
                                    <option value="7">Extensive critical data disclosed (7)</option>
                                    <option value="9">All data disclosed (9)</option>
                                </select>
                            </div>
                        </div>
                        <!-- Additional Factors (Loss of Integrity, Loss of Availability, Loss of Accountability) -->
                        <!-- Add similar sections for these fields using data-i18n and data-i18n-title attributes -->
                    </section>
                </div>

                <!-- SECOND -->
                <div class="row">
                    <!-- VULNERABILITY FACTORS -->
                    <section>
                        <h5 class="border-bottom" data-i18n="owasp_calculator_html.section_titles.vulnerability_factors"
                            data-i18n-title="owasp_calculator_html.section_titles.vulnerability_factors_title">
                            Vulnerability Factors</h5>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.labels.ease_of_discovery_title"
                                 data-i18n="owasp_calculator_html.labels.ease_of_discovery">Ease of discovery
                            </div>
                            <div class="col-8">
                                <select class="form-control" id="ed" name="ed" onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.ease_of_discovery.1">
                                        Practically impossible (1)
                                    </option>
                                    <option value="3" data-i18n="owasp_calculator_html.options.ease_of_discovery.3">
                                        Difficult (3)
                                    </option>
                                    <option value="7" data-i18n="owasp_calculator_html.options.ease_of_discovery.7">Easy
                                        (7)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.ease_of_discovery.9">
                                        Automated tools available (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.labels.ease_of_exploit_title"
                                 data-i18n="owasp_calculator_html.labels.ease_of_exploit">Ease of exploit
                            </div>
                            <div class="col-8">
                                <select class="form-control" id="ee" name="ee" onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.ease_of_exploit.1">
                                        Theoretical (1)
                                    </option>
                                    <option value="3" data-i18n="owasp_calculator_html.options.ease_of_exploit.3">
                                        Difficult (3)
                                    </option>
                                    <option value="5" data-i18n="owasp_calculator_html.options.ease_of_exploit.5">Easy
                                        (5)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.ease_of_exploit.9">
                                        Automated tools available (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.labels.awareness_title"
                                 data-i18n="owasp_calculator_html.labels.awareness">Awareness
                            </div>
                            <div class="col-8">
                                <select class="form-control" id="a" name="a" onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.awareness.1">Unknown
                                        (1)
                                    </option>
                                    <option value="4" data-i18n="owasp_calculator_html.options.awareness.4">Hidden (4)
                                    </option>
                                    <option value="6" data-i18n="owasp_calculator_html.options.awareness.6">Obvious
                                        (6)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.awareness.9">Public
                                        knowledge (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.labels.intrusion_detection_title"
                                 data-i18n="owasp_calculator_html.labels.intrusion_detection">Intrusion detection
                            </div>
                            <div class="col-8">
                                <select class="form-control" id="id" name="id" onchange="calculate()">
                                    <option value="1" data-i18n="owasp_calculator_html.options.intrusion_detection.1">
                                        Active detection in application (1)
                                    </option>
                                    <option value="3" data-i18n="owasp_calculator_html.options.intrusion_detection.3">
                                        Logged and reviewed (3)
                                    </option>
                                    <option value="8" data-i18n="owasp_calculator_html.options.intrusion_detection.8">
                                        Logged without review (8)
                                    </option>
                                    <option value="9" data-i18n="owasp_calculator_html.options.intrusion_detection.9">
                                        Not logged (9)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </section>

                    <!-- BUSINESS IMPACT FACTORS -->
                    <section>
                        <h5 class="border-bottom"
                            data-i18n="owasp_calculator_html.section_titles.business_impact_factors"
                            data-i18n-title="owasp_calculator_html.section_titles.business_impact_factors_title">
                            Business Impact Factors</h5>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.financial_damage_title"
                                 data-i18n="owasp_calculator_html.labels.financial_damage">Financial damage
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="fd" name="fd"
                                        onchange="calculate()">
                                    <option value="1">Less than the cost to fix the vulnerability (1)</option>
                                    <option value="3">Minor effect on annual profit (3)</option>
                                    <option value="7">Significant effect on annual profit (7)</option>
                                    <option value="9">Bankruptcy (9)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.reputation_damage_title"
                                 data-i18n="owasp_calculator_html.labels.reputation_damage">Reputation damage
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="rd" name="rd"
                                        onchange="calculate()">
                                    <option value="1">Minimal damage (1)</option>
                                    <option value="4">Loss of major accounts (4)</option>
                                    <option value="5">Loss of goodwill (5)</option>
                                    <option value="9">Brand damage (9)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.non_compliance_title"
                                 data-i18n="owasp_calculator_html.labels.non_compliance">Non-compliance
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="nc" name="nc"
                                        onchange="calculate()">
                                    <option value="2">Minor violation (2)</option>
                                    <option value="5">Clear violation (5)</option>
                                    <option value="7">High profile violation (7)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 nomargin col-4 d-flex align-items-center" title=""
                                 data-i18n-title="owasp_calculator_html.privacy_violation_title"
                                 data-i18n="owasp_calculator_html.labels.privacy_violation">Privacy violation
                            </div>
                            <div class="col-8">
                                <select class="form-control" aria-label=".form-select-sm example" id="pv" name="pv"
                                        onchange="calculate()">
                                    <option value="3">One individual (3)</option>
                                    <option value="5">Hundreds of people (5)</option>
                                    <option value="7">Thousands of people (7)</option>
                                    <option value="9">Millions of people (9)</option>
                                </select>
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <!-- MODAL -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"
                                data-i18n="owasp-calculator_html.modal_title"
                                data-i18n-title="owasp-calculator_html.modal_title">How is Severity Risk
                                calculated?</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- LIKELIHOOD AND IMPACT LEVELS -->
                                <section>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col" colspan="2"
                                                data-i18n="owasp-calculator_html.labels.likelihood_score"
                                                data-i18n-title="owasp-calculator_html.labels.likelihood_score">
                                                Likelihood and Impact Levels
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>0 to < 3</td>
                                            <td class="classNote"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.low">LOW
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3 to < 6</td>
                                            <td class="classMedium"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">MEDIUM
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6 to 9</td>
                                            <td class="classHigh"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.high">HIGH
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <!-- OVERALL RISK SEVERITY = LIKELIHOOD X IMPACT -->
                                <section>
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col" colspan="5" data-i18n="owasp-calculator_html.labels.vector"
                                                data-i18n-title="owasp-calculator_html.labels.vector">Overall Risk
                                                Severity = Likelihood x Impact
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="4"
                                                style="vertical-align: middle; font-weight: bold"
                                                data-i18n="owasp-calculator_html.labels.impact_score">Impact
                                            </td>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.high">HIGH</td>
                                            <td class="classMedium"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">Medium
                                            </td>
                                            <td class="classHigh"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.high">High
                                            </td>
                                            <td class="classCritical">Critical</td>
                                        </tr>
                                        <tr>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">
                                                MEDIUM
                                            </td>
                                            <td class="classLow">Low</td>
                                            <td class="classMedium"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">Medium
                                            </td>
                                            <td class="classHigh"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.high">High
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.low">LOW</td>
                                            <td class="classNote">Note</td>
                                            <td class="classLow"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.low">Low
                                            </td>
                                            <td class="classMedium"
                                                data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">Medium
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.low">LOW</td>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.medium">
                                                MEDIUM
                                            </td>
                                            <td data-i18n="owasp-calculator_html.modal.likelihood_levels.high">HIGH</td>
                                        </tr>
                                        </tbody>
                                        <thead>
                                        <tr>
                                            <th scope="col" colspan="1"></th>
                                            <th scope="col" colspan="4"
                                                data-i18n="owasp-calculator_html.labels.likelihood_score"
                                                data-i18n-title="owasp-calculator_html.labels.likelihood_score">
                                                Likelihood
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </section>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    data-i18n="owasp-calculator_html.labels.vector">OK!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- scripts -->
    <script src="{% static '/script/sidebar.js' %}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='{% static "/script/owasp-calculator/jquery.min.js" %}'></script>
    <script src='{% static "/script/owasp-calculator/Chart.min.js" %}'></script>
    <script src='{% static "/script/owasp-calculator/bootstrap.min.js" %}'></script>
    <script src='{% static "/script/owasp-calculator/sweetalert.min.js" %}'></script>
    <script src='{% static "/script/owasp-calculator/script.js" %}'></script>
    </body>

{% endblock content %}

<!--
   CREDITS
   Forked from https://github.com/JavierOlmedo/OWASP-Calculator by Javier Olmedo
-->