{% load static %}
{% load gerobug_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Gerobug-signature" content="97de67b8d672c51c158247f398b85d31">

    <title data-translate="page_title">Rules and Guidelines</title>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% url 'themes' %}" type="text/css">
    <link rel="stylesheet" href='{% static "/css/rules.css" %}'>
    <link rel="stylesheet" href='{% static "/css/header.css" %}'>

    <!-- BOOTSTRAP CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/gh/jitbit/HtmlSanitizer@master/HtmlSanitizer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
    <script src="/static/js/translate.js" defer></script>

    <script>
        function myFunction() {
          var x = document.getElementById("navbar");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
</head>

<body data-page="rules.html">
    <header>
        <ul class="topnav" id="navbar">
            <li><a class="logo" href="{% url 'rules' %}">
                <div class="nav-content"><img src="{% static 'logo.png' %}"></div>
            </a></li>
            <li><a class="active" href="{% url 'rules' %}">
                <div id="rules_guidelines" data-translate="rules_guidelines" class="nav-content">Rules & Guidelines</div>
            </a></li>
            <li><a href="{% url 'halloffame' %}">
                <div id="hall_of_fame" data-translate="hall_of_fame" class="nav-content">Hall Of Fame</div>
            </a></li>
            <li><a href="{% url 'submit' %}">
                <div id="submit" data-translate="submit" class="nav-content">Submit</div>
            </a></li>
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
                <div class="nav-content"><i class="fa fa-bars"></i></div>
            </a></li>
            <li>
                <select onchange="changeLanguage(this.value)">
                    <option value="en">English</option>
                    <option value="ru">Русский</option>
                    <option value="kz">Қазақша</option>
                </select>
            </li>
        </ul>
    </header>

    <main>
        <div class="row">
            <div class="col-4">
                <div id="simple-list-example" class="d-flex flex-column gap-4 simple-list-example-scrollspy text-left">
                    <a class="p-1 rounded" href="#1" data-translate="bounty_terms_title">Bounty Terms</a>
                    <a class="p-1 rounded" href="#2" data-translate="in_scope_title">In Scope</a>
                    <a class="p-1 rounded" href="#3" data-translate="out_of_scope_title">Out Of Scope</a>
                    <a class="p-1 rounded" href="#4" data-translate="rdp_title">Responsible Disclosure Policy</a>
                    <a class="p-1 rounded" href="#5" data-translate="report_guidelines_title">Report Guidelines</a>
                    <a class="p-1 rounded" href="#6" data-translate="faq_title">FAQ</a>
                </div>
            </div>

            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                    data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                    <h3>[INTERNAL VIEW ONLY]</h3>
                    <br>

                    <h4 id="bounty_terms_title" data-translate="bounty_terms_title">Bounty Terms</h4>
                    {% block bountyterms %}
                        {% if bountyterms %}
                            {{ bountyterms.html|safe }}
                        {% else %}
                            <p id="bounty_terms_text" data-translate="bounty_terms_text">Detailed information about bounty terms.</p>
                        {% endif %}
                    {% endblock bountyterms %}

                    <h4 id="in_scope_title" data-translate="in_scope_title">In Scope</h4>
                    {% block inscope %}
                        {% if inscope %}
                            {{ inscope.html|safe }}
                        {% else %}
                            <p id="in_scope_text" data-translate="in_scope_text">Details about in-scope items.</p>
                        {% endif %}
                    {% endblock inscope %}

                    <h4 id="out_of_scope_title" data-translate="out_of_scope_title">Out Of Scope</h4>
                    {% block outofscope %}
                        {% if outofscope %}
                            {{ outofscope.html|safe }}
                        {% else %}
                            <p id="out_of_scope_text" data-translate="out_of_scope_text">Details about out-of-scope items.</p>
                        {% endif %}
                    {% endblock outofscope %}

                    <h4 id="rdp_title" data-translate="rdp_title">Responsible Disclosure Policy</h4>
                    {% block RDP %}
                        {% if RDP %}
                            {{ RDP.html|safe }}
                        {% else %}
                            <p id="rdp_text" data-translate="rdp_text">Information about responsible disclosure policy.</p>
                        {% endif %}
                    {% endblock RDP %}

                    <h4 id="report_guidelines_title" data-translate="report_guidelines_title">Report Guidelines</h4>
                    {% block reportguidelines %}
                        {% if reportguidelines %}
                            {{ reportguidelines.html|safe }}
                        {% else %}
                            <p id="report_guidelines_text" data-translate="report_guidelines_text">Guidelines for reporting.</p>
                        {% endif %}
                    {% endblock reportguidelines %}

                    <h4 id="faq_title" data-translate="faq_title">FAQ</h4>
                    {% block faq %}
                        {% if faq %}
                            {{ faq.html|safe }}
                        {% else %}
                            <p id="faq_text" data-translate="faq_text">Frequently asked questions.</p>
                        {% endif %}
                    {% endblock faq %}
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer_text" data-translate="footer_text">
            <p>RTEAM</p>
        </div>
    </footer>

    <div style="display:none;">97de67b8d672c51c158247f398b85d31</div>
</body>
</html>
